$main-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$light-grey: #F6F6F6;
$black: #000;
$white: #FFFFFF;

@mixin desktop-version {
    @media screen and (min-width: 767.98px) {
        @content;
    }
}

@mixin mobile-only {
    @media screen and (max-width: 767.98px) {
        @content;
    }
}


body {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    font-family: 'Roboto', serif;
}

main {
    color: $black;
}

h1 {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    line-height: 40px;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.checkbox {
    display: none;
}

.top_image {
    display: flex;

    img {
        width: 100vw;
        height: 350px;
        object-fit: cover;
    }
}

.button {
    justify-content: center;
    display: flex;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 35px;

    .cta {
        border: 0px solid transparent;
        background: linear-gradient(360deg, rgba(151, 71, 255, 1) -40%, rgba(228, 112, 218, 1) 65%);
        width: 218px;
        height: 50px;
        border-radius: 25px;
        box-shadow: 0px 5px 5px lightgray;
        transition: all 0.7s ease;
        text-decoration: none;
        color: white;
    }

    .cta:hover {
        background: linear-gradient(360deg, rgba(151, 71, 255, 1) -40%, rgba(228, 112, 218, 1) 65%);
        opacity: 0.8;
        box-shadow: 0px 10px 10px lightgray;
    }

    .cta-text {
        display: flex;
        font-size: 16px;
        font-weight: 500;
        justify-content: center;
    }

}

/*******HEADER*******/

header {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 15px;
    height: 44px;
}


#LogoHeader {
    width: 200px;
    height: 34px;
}

nav {
    padding-top: 10px;
    display: flex;
    position: absolute;
    left: 30px;
}

/******BODY*******/

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -4rem;
    border-radius: 2rem 2rem;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;
    justify-content: center;
    max-width: 1440px;
}

@media (min-width: 1024px) {
    .container {
        width: 50%;
        padding-left: 100px;
        padding-right: 100px;
        margin: -80px auto 0 auto;
    }
}

.menu-title {
    padding-top: 20px;
    display: flex;

    &__text {
        display: flex;
        padding-left: 22px;

    }
}

@media screen and (max-width: 769px) {
    .fa-heart {
        padding-top: 35px;
        padding-left: 20px;
        position: relative;
        right: 9rem;
        top: 0.3rem;
        cursor: pointer;
    }
}

.heart-checkbox {
    display: none;
}

.fa-heart:before {
    content: "\f004";
    z-index: 1;
    font-size: 1.2em;
    position: relative;
    transition: background-color 0.8s ease;
    cursor: pointer;
}


.fa-regular {
    font-weight: 400;
}

.heart-label::before {
    content: '\f004';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: relative;
    top: 10px;
    right: 94px;
    color: transparent;
    font-size: 1.9em;
    cursor: pointer;
    z-index: 5;
}


@media screen and (min-width: 769px) {

    .heart-label::before {
        content: '\f004';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        position: relative;
        bottom: -10px;
        left: 49px;
        color: transparent;
        font-size: 1.9em;
        cursor: pointer;
        z-index: 5;
    }

    .fa-heart {
        padding-top: 35px;
        padding-left: 20px;
        position: relative;
        top: 0.5rem;
        cursor: pointer;
    }
}

.heart-checkbox:checked+.heart-label::before {
    background: linear-gradient(180deg, rgba(151, 71, 255, 1) 0%, rgba(228, 112, 218, 1) 100%);
    background-clip: text;
    color: transparent;
    transition: background 5s ease;
}

/****MENU***/

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.title-part {
    opacity: 0;
    animation: fadeInUp 0.7s ease forwards;
    padding-left: 12px;
}

.E {
    animation-delay: 0.3s;
}

.P {
    animation-delay: 1s;
}

.D {
    animation-delay: 1.7s;
}

.type-menu {
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 3px solid #99e2d0;
    width: 40px;
    padding-bottom: 5px;
    margin-top: 2.5rem;
}

.entries {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
}

.card {
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
    background-color: $white;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    margin: 12px;
    width: 100%;
    height: 69px;
    animation: fadeInLeft 0.7s ease forwards;
    animation-delay: 0.10s;
}

.card-txt {
    font-size: 18px;
    font-weight: 700;
}

.card-txt__subtitle {
    font-size: 17px;
    font-weight: 300;
}


.menu-card {
    width: 90%;
}

.menu-label {
    width: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding-left: 15px;
}

.price {
    display: flex;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.card-price {
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    position: absolute;
    right: 10px;
    transform: translateY(30%);
}

.card:hover .price {

    transform: translateX(-48px);
    /* Décale le prix vers la gauche */
}

.marque-verif {
    position: absolute;
    width: 48px;
    height: 69px;
    background-color: #6fd1b9;
    border-radius: 0px 15px 15px 0px;
    transform: translateX(0%);
    transition: transform 0.3s ease;
    bottom: -35px;

}


.card:hover+.menu-label .marque-verif {
    transform: translateX(0%);
    visibility: visible;
}

.card:hover+.menu-label .price {
    transform: translateX(-5px);
}

.card:hover+.menu-label .card-txt {
    width: calc(80% - 75px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fa-circle-check {
    color: $white;
    position: relative;
    top: 10px;
    left: 15px;
}

.fa-lg {
    font-size: 1.25em;
    line-height: .05em;
    vertical-align: -.075em;
    color: white;
}

.fa-check-circle:before,
.fa-circle-check:before {
    content: "\f058";
    top: 9px;
    position: absolute;
}

@media (max-width: 768px) {
    .menu {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    h1 {
        font-size: 25px;
        padding-right: 130px;
    }

    .card:hover .card-txt {
        width: calc(100% - 75px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

/*****FOOTER******/

Footer {
    background-color: #353535;
    color: white;
    flex-direction: column;
    padding: 22px 20px;
  }
  
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: stretch;
    margin-bottom: 0;
    list-style: none;
  }
  
  .footer-container {
    display: flex;
    padding-right: 50px;
    padding-top: 20px;
    flex-direction: row-reverse;
  }
  
  @media(max-width: 768px) {
  
    footer ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      list-style: none;
    }
  
    footer {
      padding-left: 0;
    }
  
    .footer-container {
      margin: 0;
      display: flex;
      flex-direction: column;
    }
  
    #LogoFooter {
      padding-left: 59px;
      padding-top: 5px;
    }
  }
  
  @media (min-width: 768px) {
  
  
    footer li {
      margin-left: 10px;
    }
  
    footer ul {
      display: flex;
      justify-content: center;
    }
  
    .second {
      margin-left: 50px;
    }
  
  }
  
  @media (min-width: 769px) and (max-width: 10px) {
  
    .footer-container {
      display: flex;
      justify-content: start;
    }
  }
  
  .footer-text {
    display: flex;
    align-items: center;
  }
  
  #LogoFooter {
    width: 100px;
    height: 20px;
    filter: brightness(0) invert(1);
    padding-top: 15px;
    padding-left: 45px;
  }
  
  .fa-utensils,
  .fa-handshake-angle {
    color: white;
    padding-right: 10px;
  }